<ul class="collection">
  <li
    *ngFor="let video of videoList | async"
    [class.active]="video.id === selectedVideo?.id"
    (click)="selectVideo(video)"
    class="collection-item"
  >
    <app-video [video]="video"></app-video>
  </li>
</ul>


