  <div class="row">

    <app-preview-list
      [selectedVideo]="selectedVideo | async"
      (videoSelected)="selectVideo($event)"
      class="col s3"
    ></app-preview-list>

    <app-selected-video
      [selectedVideo]="selectedVideo | async"
      class="col s5"
    ></app-selected-video>

    <app-filter class="col s3"></app-filter>
  </div>
